{% extends_admingenerated "JKASiteBundle:EntryEdit:form.html.twig" %}
{%block form%}
	{{ parent() }}
	{{ tinymce_init()}}
{%endblock%}
 
{% block form_buttons %}
	<label>Imagen:</label>
	<img src="/{{ image_path}}" />
	<br><br>
	<label>Imagen frontal:</label>
	<img src="/{{ f_image_path}}" />
    {{ parent() }}       
{%endblock%}
