 {% extends '::base.html.twig' %}
 
 {% block stylesheets%}
   {{ parent() }}
   <link href="{{ asset('bundles/site/css/jquery-ui/jquery-ui-timepicker.css') }}" rel="stylesheet">
   <link href="{{ asset('bundles/site/css/news.css') }}" rel="stylesheet">
   <link href="{{ asset('bundles/site/css/jquery-ui/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
 {% endblock%}	

 {% block javascripts%}	
 	{{ parent() }}
 	<link href="{{ asset('bundles/site/js/jquery-ui/jquery.ui.timepicker.js') }}" rel="stylesheet">
   	<link href="{{ asset('bundles/site/js/news.js') }}" rel="stylesheet">
   	<link href="{{ asset('bundles/site/js/tyny_mce/jquery.tinymce.js') }}" rel="stylesheet">
 	
 {% endblock%}	
 
 {% block navbar %}
    <li><a href="{{ path('homepage')}}">Home</a></li>
    <li><a href="#">Quienes Somos</a></li>
    <li><a href="#">Comunicaciones</a></li>
    <li class="active"><a href="{{ path('news_index') }}">Noticias y Eventos</a></li>
    <li><a href="#">Dojos</a></li>
    <li><a href="#">Fotos y videos</a></li>
     <li><a href="#">Contacto</a></li>
    <li><a href="{{ path('entry_create') }}">Nueva entrada</a></li>
 {% endblock %}
 


 {% block body %}
  	 <div class = "header cols-xs-18 col-md-12">
	  	 <div class="news-list">
			{% for entry in entries %}
				<div class="news-row">
					<div class="new-content">
						<div class="new-image"><img height="70" src="{{ entry.path }}"/></div>
						<div class="news-title">
							<a href="#">{{ entry.title }}</a>
						</div>
						<div>
							<span>{{ entry.shortDescription }}</span>
						</div>
					</div>
				</div>
			{% endfor%}
		</div>	
	</div>
	<div style="clear: both;"></div>
	{% block custom_body %}{% endblock %}
  {% endblock %}
