 {% extends '::base.html.twig' %} 

 {% block description %} {% endblock %}	
 {% block body %}
	<div class="detail">
		<h2>{{ entry.title}}</h2>
		<p class="created" >{{ entry.fCreated}}</p> 	
		<div class="entry-content">
			<img height="300" src="/{{entry.path}}" />
			{{ entry.description | raw }}
		</div>
	</div>
	<div class="detail-footer">
		<a href="{{path('comms')}}">Volver al listado</a>
	</div>
 {% endblock %}

{% block navbar %}
	<li><a href="{{ path('homepage')}}">Home</a></li>
	<li><a href="{{ path('about')}}">Quienes Somos</a></li>
	<li><a href="{{ path('honbu')}}">Nuestro Honbu Dojo</a></li>
	<li class="active"><a href="{{path('comms')}}">Comunicaciones</a></li>
	<li><a href="{{ path('news_index') }}">Noticias y Eventos</a></li>
	<li><a href="#">Dojos</a></li>
	<li><a href="#">Fotos y videos</a></li>
	<li><a href="#">Contacto</a></li>
	<li><a href="{{ path('create_entry') }}">Nueva entrada</a></li>
{% endblock %}
 
{% block stylesheets%} 
	{{ parent() }}
	<link href="{{ asset('bundles/site/css/news.css') }}" rel="stylesheet" />
{% endblock %}