<div class="count">
    {{ pagination.getTotalItemCount }}
</div>	
<div class="entry-list">
		{% for entry in pagination %}
		<div class="entry-row">
				<div class="entry-image">
					<img height="70" src="/{{ entry.path }}" />
				</div>
				<div class="title">
					<h3><a href="{{ path('showDetail', {'id': entry.id})  }}">{{ entry.title }}</a></h3>
				</div>
				<div>
					<span>{{ entry.shortDescription }}</span>
				</div>
		</div>
		{% endfor%}
</div>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
<div style="clear: both;"></div>
