 {% extends '::base.html.twig' %} 

 {% block intro%}
	<h3><span>Asociaci&oacute;n de Escuelas Shotokan de Karate</span></h3>
{% endblock %}

 {% block body %}
<div id="cssmenu">
	<ul>
		<li><a href="#"><span>Sobre nosotros</span></a>
			<ul>
				<li><a id="about-menu">Quienes somos</a></li>
				<li><a id="history-menu">Historia del Karate</a></li>
				<li><a id="sensei-menu">Nuestro Maestro</a></li>
			</ul></li>
		<li><a href="#"><span>Institucional</span></a>
			<ul>
				<li><a id="board-menu">Consejo directivo</a></li>
				<li><a id="org-menu">Organigrama</a></li>
			</ul></li>
		<li><a href="#"><span>Honbu Dojo</span></a>
			<ul>
				<li><a id="abouthombu-menu">Acerca del Dojo</a></li>
				<li><a id="locationhombu-menu">Ubicaci&oacute;n</a></li>
				<li><a id="fotoshombu-menu">Fotos</a></li>
				<li><a id="contacthombu-menu">Contacto</a></li>
			</ul></li>
		<li><a href="#"><span>C&oacute;digo de conducta</span></a>
			<ul>
				<li><a id="normativa-menu">Normativa</a></li>
				<li><a id="reglamento-menu">Reglamento interno</a></li>
				<li><a id="join-menu"><span>Form&aacute; parte</span></a></li>
			</ul></li>

	</ul>
</div>
<!-- Sobre nosotros -->
<div id="about-section" class="text about-section">
	<h2>Quienes Somos</h2>
	<img src="/bundles/site/images/about/jka_argentina_itaya.jpg" align="right"
		style="margin: 0 0 10px 10px">
	<p>“No tiene paragón la forma explosiva de difusión con que se expande
		el Karate-Do, cuyo objetivo no radica solamente en la superación
		técnica para triunfar en las competencias, sino que siendo éste un
		moderno Budo (Arte Marcial), su fin último es la formación y elevación
		humana de sus practicantes, mediante rigurosos ejercicios y
		autosacrificio.</p>
	<p>Los principios de este arte marcial son sintetizados en el Doyo-Kun,
		y considero como el punto de partida de los mismos, el aprender y
		asimilar las verdaderas técnicas básicas, detalladas y explicadas en
		este texto.</p>
	<p>Poseen sin duda dichas técnicas suficientes bases científicas,
		producto de la ardua tarea de sacrificadas personas a través de largo
		tiempo y espacio, que evitan que las prácticas sin control u
		orientación hagan vanos los esfuerzos, y contrariamente contribuyan a
		aumentar sus propios defectos.</p>
	<p>Será entonces deber de los principiantes practicar las técnicas
		básicas y hacerlas suyas, como lo será de los avanzados reafirmar las
		mismas en forma correcta.”</p>
	<p>
		<i>Palabras preliminares de Itaya Sensei en Karate-Do, texto oficial
			de la Asociación Argentina de Karate (A.A.K.) dirigido a “los
			interesados en Karate-Do de los países de habla hispana”.</i>
	</p>

</div>
<!-- Fin Sobre nosotros -->

<!-- Historia del karate -->
<div id="history-section" class="text about-section">
	<h2>Historia del Karate</h2>
	<img src="/bundles/site/images/about/jka_argentina_funakoshi.jpg" align="right"
		style="margin: 0 0 10px 10px">
	<p>La forma en la que se aprende actualmente el Karate comenzó su
		desarrollo en Okinawa a lo largo de siglos, bajo la influencia China.</p>
	<p>Varios estilos del arte Shaolin confluyeron en Okinawa, traídos por
		distintos estratos sociales de China. De esta forma, la diversidad
		enriqueció la disciplina, que fue desarrollándose con más
		preponderancia en ciertas ciudades, las cuales luego dieron origen a
		los distintos estilos que hoy comparten similitudes y a su vez se
		diferencian entre sí. Así, por ejemplo, en la ciudad de Naha, capital
		de Okinawa, se desarrollaba el Naha-te, nombre que se le dio a la
		disciplina en función de su lugar de práctica. Otros, el Shuri-te, de
		la ciudad de Shuri y el Tomari-te, de la ciudad de Tomari. A fines del
		siglo XIX, el Shuri-te y el Tomari-te se unieron, cambiando de nombre
		a Shorin-Ryu, mientras que el Naha-te pasó a denominarse Shorei-Ryu.</p>
	<p>Gichin Funakoshi (1868-1957), uno de los actores más importantes en
		la historia del Karate, fue alumno de Asato Yasutsune, uno de los
		maestros de Shorei-Ryu. En el año 1922, Funakoshi llegó a Japón con el
		fin de difundir el Karate y realizar exhibiciones en aquel país, donde
		las artes marciales empezaban a gozar de gran popularidad.</p>
	<p>A pesar de que para él sólo existía un único Karate, fue inevitable
		que los distintos maestros introdujeran un nombre determinado para dar
		a conocer su propio concepto de Karate. Entre 1922 y el final de la
		Segunda Guerra Mundial, se expandieron varias escuelas de Karate en
		Japón, pero no había federaciones que tuvieran como finalidad
		centrarse en las tareas organizativas y de administración, sólo
		existía una asociación de alumnos de Funakoshi denominada Nihon
		Karate-Do Shotokai.</p>
	<p>La Japan Karate Association (JKA) fue creada en 1955 por Masotoshi
		Nakayama (1913-1987), alumno de Funakoshi, convirtiéndose en la primer
		Federación en Japón.</p>
	<p>En 1964, el maestro Gogen Yamaguchi agrupó todas las Federaciones de
		diferentes estilos en una única, denominada Federation All Japan
		Karate-Do Organization, y bajo ésta se creó luego la organización
		mundial llamada World Union of Karate-Do Organization, que incluía
		todos los estilos de Karate con una marcada orientación deportiva. Con
		el fin de mantener los ideales originarios del Budo, poco después la
		JKA fundó una organización mundial que se centraba en el estilo
		Shotokan, denominada International Amateur Karate Federation.</p>
	<p>En Argentina, la historia del Karate Shotokan comienza en 1966, con
		el arribo del maestro Michihiga Itaya, proviniente de Japón. Habiendo
		sido alumno de los maestros S. Nakayama, H. Nishiyama, T. Kase y H.
		Shirai, inaugura su Dojo en Capital Federal y desde allí se expande a
		las provincias y países limítrofes, logrando reunir a diferentes
		maestros de Karate ya radicados en nuestro país. Así crea la
		Asociación Argentina de Karate. En 1970, por el gran crecimiento de la
		disciplina, el maestro Itaya solicita dos instructores a la JKA. Es
		así como llegan los discípulos Mitsuo Inoue (1947) y Yoshinori Takada,
		ambos 3er Dan.</p>
	<p>En 1973, M. Itaya, de 33 años, muere en un accidente de tránsito. Su
		legado pasa a manos del maestro Mitsuo Inoue, quien funda la
		Asociación de Escuelas Shotokan (AES) para concentrar las actividades
		de todas las provincias del país y se convierte en la única entidad
		reconocida oficialmente por la JKA.</p>
	<p>En la actualidad, el maestro Mitsuo Inoue continúa con la tarea de
		transmitir el Karate Shotokan, no sólo como profesor en Argentina sino
		a nivel internacional como Presidente de JKA Sudamérica.</p>
</div>
<!-- Fin Historia del karate -->

<!-- nuestro maestro -->
<div id="sensei-section" class="text about-section">
	<h2>Nuestro Maestro</h2>
	<span>PROXIMAMENTE!</span>
</div>
<!-- Fin nuestro maestro -->

<!-- nuestro maestro -->
<div id="board-section" class="text about-section">
	<h2>Consejo directivo</h2>
	<div class="board">
		<img src="/bundles/site/images/about/jka_argentina_board.jpg" align="left"
			height="150px" />
		<h3>Presidente</h3>
		<p>Dr. Rodolfo Alfio Saraceni</p>
		<a href="mailto:secretariaaes@yahoo.com.ar">Contacto</a>
	</div>
	<div class="board">
		<img src="/bundles/site/images/about/jka_argentina_board.jpg" align="left"
			height="150px" />
		<h3>Secretario General</h3>
		<p>Lic. Gaston Sokolowicz</p>
		<a href="mailto:secretariaaes@yahoo.com.ar">Contacto</a>
	</div>
	<div class="board">
		<img src="/bundles/site/images/about/jka_argentina_board.jpg" align="left"
			height="150px" />
		<h3>Tesorero</h3>
		<p>Lic. Ignacio Garriga</p>
		<a href="mailto:secretariaaes@yahoo.com.ar">Contacto</a>
	</div>
	<div class="board">
		<img src="/bundles/site/images/about/jka_argentina_board.jpg" align="left"
			height="150px" />
		<h3>Vocal</h3>
		<p>Prof. Carlos Prina</p>
		<a href="mailto:secretariaaes@yahoo.com.ar">Contacto</a>
	</div>
	<div class="board">
		<img src="/bundles/site/images/about/jka_argentina_board.jpg" align="left"
			height="150px" />
		<h3>Director T&eacute;cnico AES</h3>
		<p>Maestro Mitsuo Inoue</p>
		<a href="mailto:secretariaaes@yahoo.com.ar">Contacto</a>
	</div>


</div>
<!-- Fin nuestro maestro -->

<div id="org-section" class="text about-section">
	<h2>Organigrama</h2>
	<span>PROXIMAMENTE!</span>
</div>

<div id="abouthombu-section" class="text about-section">
	<h2>Acerca del Hombu Dojo</h2>
	<img src="/bundles/site/images/about/jka_argentina_honbu.jpg" align="right"
		style="margin: 20px" />
	<p>
		Gracias al liderazgo de nuestro maestro Mitsuo Inoue, luego de
		incansables años de trabajo de AES Argentina y la colaboración de
		instructores y practicantes afiliados, se ha concretado el tan
		anhelado sueño de contar con un Honbu Dojo. La importancia del Honbu
		Dojo radica en lo que éste representa para toda la comunidad de
		practicantes de la Asociación Escuelas Shotokan de Karate. <br> <br>Como
		sede central de AES Nacional, el Honbu tiene la tarea de administrar,
		organizar y regular todas las actividades de los dojos a nivel
		nacional. Como Dojo Central, es el lugar de práctica al que pueden
		acceder todos los afiliados a nuestra Escuela. Así, el 22 de diciembre
		del 2013, en un marco de confraternidad y con la presencia del
		agregado cultural de la embajada de Japón Don Yoshihiko Sato, la
		comisión directiva de AES Argentina, instructores de todo el país e
		invitados especiales, se inauguró el Honbu Dojo de la Asociación
		Escuelas Shotokan de Karate, primer y único Dojo Central
		en Sudamérica.
	</p>
</div>

<div id="locationhombu-section" class="text about-section">
	<h2>Ubicaci&oacute;n del Hombu Dojo</h2>
	<p>Nos encontramos ubicados en el barrio de Villa Crespo, calle Padilla
		N° 777, CP. 1414, Ciudad Autonoma de Buenos Aires.</p>
	<div style="float: left; margin: 20px">
		<h3>Lineas de colectivos</h3>
		71, 168, 109, 124
		<h3>Subtes</h3>
		Metrovias Linea "B" Estación Malabia - <a
			href="http://comollego.ba.gob.ar/">Como llego</a>
	</div>
	<div class="map-container">
		<div id="hombu-map" style="width: 500px; height: 390px;"></div>
	</div>

</div>

<div id="fotoshombu-section" class="text about-section">
	<h2>Fotos</h2>
	<div class="flexslider"
		style="margin: auto; width: 600px; height: 375px">
		<ul class="slides">
			<li><img height="375px" src="/bundles/site/images/hombu/jka_argentina_hombu_1.jpg" />
			</li>
			<li><img height="375px" src="/bundles/site/images/hombu/jka_argentina_hombu_2.jpg" />
			</li>
			<li><img height="375px" src="/bundles/site/images/hombu/jka_argentina_hombu_3.jpg" />
			</li>
			<li><img height="375px" src="/bundles/site/images/hombu/jka_argentina_hombu_4.jpg" />
			</li>
			<li><img height="375px" src="/bundles/site/images/hombu/jka_argentina_hombu_5.jpg" />
			</li>
			<li><img height="375px" src="/bundles/site/images/hombu/jka_argentina_hombu_6.jpg" />
			</li>
			<li><img width="200px" src="/bundles/site/images/hombu/jka_argentina_hombu_7.jpg" />
			</li>
		</ul>
	</div>
</div>

<div id="contacthombu-section" class="text about-section">
	<h2>Datos de contacto</h2>
	<h3>Direcci&oacute;n</h3>
	Padilla 777, Ciudad Autonoma de Buenos Aires, CP 1414
	<h3>Telefono</h3>
	+ 54 (11) 4854 - 5143
	<h3>Email</h3>
	secretariaaes@yahoo.com.ar
</div>

<div id="normativa-section" class="text about-section">
	<h2>Normativa</h2>
	<span>PROXIMAMENTE!</span>
</div>

<div id="reglamento-section" class="text about-section">
	<h2>Reglamento interno</h2>
	<span>PROXIMAMENTE!</span>
</div>

<div id="join-section" class="text about-section">
	<h2>Forma parte</h2>
	<span>PROXIMAMENTE!</span>
</div>
{% endblock%} 

{% block stylesheets%} 
	{{ parent() }}
	<link href="{{ asset('bundles/site/css/about.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/site/css/flexslider.css') }}" rel="stylesheet" />
{% endblock %} 

{% block javascripts %} 
	{{ parent() }}
	<script src="{{ asset('bundles/site/js/jquery.easing.js')}}"></script>
	<script src="{{ asset('bundles/site/js/about.js')}}"></script>
	<script src="{{ asset('bundles/site/js/jquery.flexslider-min.js')}}"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>
{% endblock %} 

{% block navbar %}
	<li><a href="{{ path('homepage')}}">Home</a></li>
	<li class="active"><a href="{{ path('about')}}">Quienes Somos</a></li>
	<li><a href="{{ path('honbu')}}">Nuestro Honbu Dojo</a></li>
	<li><a href="{{ path('comms')}}">Comunicaciones</a></li>
	<li><a href="{{ path('news_index') }}">Noticias y Eventos</a></li>
	<li><a href="#">Dojos</a></li>
	<li><a href="#">Fotos y videos</a></li>
	<li><a href="#">Contacto</a></li>
	<li><a href="{{ path('create_entry') }}">Nueva entrada</a></li>
{% endblock %}